.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-around;
}

.menu-item>div {
  float: left;
  width: auto;
  text-align: center;
}

.menu-item {
  display: flex;
  font-size: 20px;
  width: 400px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
  text-decoration-line: gray;
}

.menu-rogo {
  position: relative;
  display: inline-block;
  margin: 10px;
  margin-left: 10px;
  width: 5%;
}

.menu-container > img{
  height: 5%;
  width: 5%;
}

.left-search-container {
  position: relative;
  width: 450px;
  margin-right: 20px;
}

.in-text {
  width: 100%;
  height: 15px;
  padding: 10px 40px 10px 10px;
  /* 오른쪽 공간 확보 */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 60%;
  transform: translateY(-50%);
  color: #888;
}

.in-text::placeholder {
  font-size: 15px;
  color: gray;
}

.ser-i {
  height: 15px;
  width: 15px;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.rogin-box {
  width: 70px;
  height: 30px;
  font-size: 14px;
  background-color: #00c471;
  border-color: #00c471;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.rogin-box:hover {
  background-color: #20c997;
}